.products {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    &-success {
        color: green;
        display: flex;
        flex-wrap: wrap;

        &-product {
            width: 33.33%;
            background-color: #888;
            box-sizing: border-box;
            padding: 20px;
        }
    }
    &-wait {
        color: orange;
        padding: 20px 0;
        text-align: center;
    }
    &-fail {
        color: orangered;
        padding: 20px 0;
        text-align: center;
    }
}